@model RemoteUpkeep.ViewModels.QuickResetViewModel
@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to change your password", "ResetPassword", "Account", routeValues: new { userId = Model.UserId, code = Model.Code }, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
