@{
    ViewBag.Title = "Email Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Email you entered doesn't exist in the system.
        If you're sure that email is correct, please <a href="mailto:admin@remote-upkeep.com.ua">contact Program administratrator</a>
    </p>
</div>
	
