@using RemoteUpkeep.Properties
@{
    ViewBag.Title = Resources.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Delete</h2>

<h3>@Resources.DeleteConfirm</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink(Resources.BackToList, "Index")
        </div>
    }
</div>