@using RemoteUpkeep.Helpers
@using RemoteUpkeep.Properties
@using RemoteUpkeep.ViewModels
@model OrderViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Order_Step1_Title;
}

<section class="projects p0 bg-dark">
    <!--ul class="filters floating cast-shadow mb0"></ul-->
    <div class="row masonry-loader fixed-center">
        <div class="col-sm-12 text-center">
            <div class="spinner"></div>
        </div>
    </div>
    <div class="row masonry masonryFlyIn">
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img alt="Pic" src="/Content/images/project-single-1.jpg" />
                    <div class="title">
                        <h5 class="uppercase mb0">Happy Couple</h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Animals">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img alt="Pic" src="/Content/images/project-single-2.jpg" />
                    <div class="title">
                        <h5 class="uppercase mb0">Lonely Dog</h5>
                        <span>Animals / Art</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img alt="Pic" src="/Content/images/project-single-3.jpg" />
                    <div class="title">
                        <h5 class="uppercase mb0">Pondering Blonde</h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img alt="Pic" src="/Content/images/project-single-5.jpg" />
                    <div class="title">
                        <h5 class="uppercase mb0">Vintage Typewriter</h5>
                        <span>Objects / Isolated</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="Objects">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img alt="Pic" src="/Content/images/project-single-4.jpg" />
                    <div class="title">
                        <h5 class="uppercase mb0">Summer Lovin'</h5>
                        <span>Objects / Food</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 masonry-item project" data-filter="People">
            <div class="image-tile inner-title hover-reveal text-center">
                <a href="#">
                    <img alt="Pic" src="/Content/images/project-single-6.jpg" />
                    <div class="title">
                        <h5 class="uppercase mb0">Thick Fog</h5>
                        <span>People / Life</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Styles.Render("~/Content/accordion")
    @Scripts.Render("~/bundles/accordion")
}