@using RemoteUpkeep.Properties
@model RemoteUpkeep.ViewModels.OrderViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.StepComplete_Title;
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Home", "Index", "Home")

