@using RemoteUpkeep.Properties
@model RemoteUpkeep.ViewModels.OrderViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.Order_StepComplete_Title;
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink(Resources.Order, "Index", "Order")

