@model RemoteUpkeep.ViewModels.OrderViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "You will be contacted later";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Home", "Index", "Home")

