@{
    var name = ViewData.TemplateInfo.HtmlFieldPrefix;
    var id = name.Replace(".", "_").Replace("[", "_").Replace("]", "_");
    var val = ViewData.ModelMetadata.Model;
    if (val == null)
    {
        val = "(49.422196, 26.985674)";
    }
}

@Html.TextBox("", val, new { @class = "form-control geography" })

<div id="map_@id" class="map"></div>