@using RemoteUpkeep.Models
@using RemoteUpkeep.Helpers

@{
    var name = ViewData.TemplateInfo.HtmlFieldPrefix;
    var id = name.Replace(".", "_").Replace("[", "_").Replace("]", "_");
    List<int> selectedLanguageIds = ViewData.TemplateInfo.FormattedModelValue as List<int>;
    int i = 0;
}

@foreach (Language language in UIHelper.GetLanguages())
{
    <div class="checkbox">
        <label>
            <input type="checkbox" name="@name" value="@language.Id" id="@id" @{if (selectedLanguageIds != null && selectedLanguageIds.Any(x => x == language.Id)) { <text> checked='checked' </text>  }} />
            @language.Title
        </label>
    </div>
    i++;
}