@using RemoteUpkeep.Models
@using RemoteUpkeep.Helpers

@foreach (Service service in UIHelper.GetServices())
{
    <div class="radio">
        <label>@Html.RadioButton("", service.Id) @service.Description</label>
    </div>
}