@using RemoteUpkeep.Helpers
@using RemoteUpkeep.Properties
@{
    var htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);
}

<div class="select-option">
    <i class="ti-angle-down"></i>
    @Html.DropDownList("", new SelectList(UIHelper.GetTargets(), "Id", "Description", ViewData.TemplateInfo.FormattedModelValue.ToString()), string.Format("< {0} >", Resources.SelectTarget), htmlAttributes)
</div>